[submodule ".vim/vim-whitespace"]
	path = .vim/vim-whitespace
	url = git://github.com/mmozuras/vim-whitespace.git
[submodule ".vim/bundle/Gundo"]
	path = .vim/bundle/Gundo
	url = http://github.com/vim-scripts/Gundo.git
[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = http://github.com/gmarik/vundle.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = http://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/minibufexpl"]
	path = .vim/bundle/minibufexpl
	url = http://github.com/fholgado/minibufexpl.vim.git
[submodule ".vim/bundle/vim-irblack"]
	path = .vim/bundle/vim-irblack
	url = http://github.com/wesgibbs/vim-irblack.git
[submodule ".vim/bundle/xoria256.vim"]
	path = .vim/bundle/xoria256.vim
	url = http://github.com/vim-scripts/xoria256.vim.git
[submodule ".vim/bundle/wombat256"]
	path = .vim/bundle/wombat256
	url = http://github.com/vim-scripts/wombat256.vim.git
[submodule ".vim/bundle/twilight"]
	path = .vim/bundle/twilight
	url = http://github.com/matthewtodd/vim-twilight.git
[submodule ".vim/bundle/relaxed-green"]
	path = .vim/bundle/relaxed-green
	url = http://github.com/vim-scripts/Relaxed-Green.git
[submodule ".vim/bundle/nucolors"]
	path = .vim/bundle/nucolors
	url = http://github.com/ryu-blacknd/vim-nucolors.git
[submodule ".vim/bundle/bufexplorer"]
	path = .vim/bundle/bufexplorer
	url = http://github.com/jlanzarotta/bufexplorer.git
[submodule ".vim/bundle/neatstatus"]
	path = .vim/bundle/neatstatus
	url = http://github.com/maciakl/vim-neatstatus.git
[submodule ".vim/bundle/airline"]
	path = .vim/bundle/airline
	url = http://github.com/bling/vim-airline.git
[submodule ".vim/bundle/bufferline"]
	path = .vim/bundle/bufferline
	url = http://github.com/bling/vim-bufferline.git
