export PATH="/usr/local/sbin:/usr/local/bin:/usr/bin:/usr/bin/site_perl:/usr/bin/vendor_perl:/usr/bin/core_perl:/home/user/bin:/home/user/scripts:/home/user/scripts"
export XDG_CONFIG_HOME="$HOME/.config"
